@model IEnumerable<ASPNETCinema.Models.HallModel>

@{
    ViewData["Title"] = "ListHalls";
}

<h2>ListHalls</h2>

<p>
    <a asp-action="AddHall">Create new hall</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatsTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreenType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatsTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id });) |
                @Html.ActionLink("Details", "Details", new { id = item.Id });) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id });)
            </td>
        </tr>
}
    </tbody>
</table>
