@model ASPNETCinema.ViewModels.MovieViewModel

@{
    ViewData["Title"] = "DetailsMovie";
}

<h2>DetailsMovie</h2>

<tr>
    <td>
        <img src="@Html.DisplayFor(model=> model.ImageString)" alt="Image: @Html.DisplayFor(model=> model.ImageString)" width="200" height="260">
    </td>
    
</tr>

<div>
    <h4>MovieModel</h4>
    <hr />
    
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastScreeningDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastScreeningDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MovieType)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MovieType)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MovieLenght)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MovieLenght)
            </dd>
        </dl>
</div>
<div>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Edit", "EditMovie", new { id = Model.Id })
    }
    <a asp-action="ListMovies">Back to List</a>
</div>
