@model IEnumerable<ASPNETCinema.ViewModels.MovieViewModel>

@{
    ViewData["Title"] = "ListMovies";


}
<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
<h2>Movies</h2>
@if (User.IsInRole("Administrator"))
{
    <a asp-action="AddMovie">Add New Movie</a>
}

    <form asp-action="ListMovies">
        <input name="OrderBy" type="submit" id="submit" value="Name" />
        <input name="OrderBy" type="submit" id="process" value="MovieType" />
        <input name="OrderBy" type="submit" id="process" value="ReleaseDate" />
        <input name="OrderBy" type="submit" id="process" value="MoviesToday" />

    </form>

    <table class="table table-dark">
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td width="17%">

                    <a href="/Movie/DetailsMovie/@Html.DisplayFor(modelItem => item.Id)">
                        <img src="@Html.DisplayFor(modelItem => item.ImageString)" alt="Image: @Html.DisplayFor(modelItem => item.Name)" width="160" height="220">
                    </a>
                    <hr class="style1" width="580%">
                    <!--<img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">-->

                </td>
                <td>
                    <a class="small" href="/Movie/DetailsMovie/@Html.DisplayFor(modelItem => item.Id)">
                        <i class="fas fa-3x">@Html.DisplayFor(modelItem => item.Name)</i></a>

                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Edit", "EditMovie", new { id = item.Id });
                        <a> | </a>
                        @Html.ActionLink("Delete", "DeleteMovie", new { id = item.Id });
                        <a> | </a>
                    }
                    @Html.ActionLink("Details", "DetailsMovie", new { id = item.Id })


                </td>
            </tr>

            }
        </tbody>
    </table>
