@model IEnumerable<ASPNETCinema.ViewModels.TaskViewModel>

@{
    ViewData["Title"] = "ListTasks";
}

<h2>ListTasks</h2>

<p>
    <a asp-action="AddTask">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfScreening)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfScreening)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfScreening)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfScreening)
            </td>
            <td>
                @if (User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Edit", "EditTask", new { id = item.Id });
                    <a> | </a>
                    @Html.ActionLink("Delete", "DeleteTask", new { id = item.Id });
                    <a> | </a>
                }
                @Html.ActionLink("Details", "DetailsTask", new { id = item.Id })

            </td>
        </tr>
        }
    </tbody>
</table>
