@model ASPNETCinema.ViewModels.ScreeningViewModel

@{
    ViewData["Title"] = "DetailsScreening";
}

<h2>DetailsScreening</h2>

<div>
    <h4>ScreeningModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MovieId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovieId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HallId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HallId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfScreening)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfScreening)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeOfScreening)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeOfScreening)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Edit", "EditScreening", new { id = Model.Id })
    }
    @Html.ActionLink("Movie Details", "DetailsMovie", "Movie", new { id = Model.MovieId })
    @Html.ActionLink("Movie List", "ListMovies", "Movie")

    @Html.ActionLink("Order Seats", "BuyingTickets", "Screening", new { id = Model.Id })
    <a asp-action="ListScreenings">Back to List</a>
</div>
