@model ASPNETCinema.ViewModels.ScreeningViewModel

@{
    ViewData["Title"] = "EditScreening";
}

<h2>EditScreening</h2>

<h4>ScreeningModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditScreening">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MovieId" class="control-label"></label>
                <select name="MovieId" style="color: black;" class="form-control">
                    @foreach (var movie in Model.Movies)
                    {
                        if (movie.Id == Model.MovieId)
                        {
                            <option value="@movie.Id" selected>@movie.Name</option>
                        }
                        else
                        {
                            <option value="@movie.Id">@movie.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="HallId" class="control-label"></label>
                <select name="HallId" style="color: black;" class="form-control">
                    @foreach (var hall in Model.Halls)
                    {
                        if (hall.Id == Model.HallId)
                        {
                            <option value="@hall.Id" selected>@hall.Id</option>
                        }
                        else
                        {
                            <option value="@hall.Id">@hall.Id</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DateOfScreening" class="control-label"></label>
                <input asp-for="DateOfScreening" class="form-control" />
                <span asp-validation-for="DateOfScreening" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOfScreening" class="control-label"></label>
                <input asp-for="TimeOfScreening" class="form-control" />
                <span asp-validation-for="TimeOfScreening" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListScreenings">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
