@model ASPNETCinema.ViewModels.UserViewModel

@{
    ViewData["Title"] = "AddUser";
}

<h2>Register</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUser">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select name="Role" class="form-control">
                    @foreach (var userType in Model.UserTypes)
                    {
                        <option value="@userType.ToString()" selected>@userType</option>
                    }
                </select>
            </div>
            <div class="text-danger">@ViewBag.Error</div>
            <div class="form-group">
                <input type="submit" value="AddUser" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <p>@Html.ActionLink("Back to List", "ListMovies", "Movie")</p>
    <p>@Html.ActionLink("Login", "LoginUser", "User")</p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
